{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div id="header">
        <span class="logo"><a href="{% url 'dashboard' %}">ImageManage</a></span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %} class="selected" {% endif %}>
                    <a href="{% url 'dashboard' %}">Panel główny</a>
                </li>
                <li {% if section == "images" %} class="selected" {% endif %}>
                <a href="{% url 'image_upload' %}">Zdjęcia</a>
                </li>
                <li {% if section == "users" %} class="selected" {% endif %}>
                <a href="{% url 'user_list' %}">Użytkownicy</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Witaj, {{ request.user.username }}!
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none; border:none; color:blue; cursor:pointer; text-decoration:underline; padding:0; font:inherit;">
                        Wyloguj
                    </button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Zaloguj</a>
            {% endif %}
        </span>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>