{% extends "images/dashboard_extension.html" %}

{% block title %} Dodaj zdjęcie {% endblock %}

{% block content %}
<h1>Dodaj zdjęcie</h1>
<p>Wypenij formularz aby się dodać zdjęcie:</p>
<form action="." method="post" enctype="multipart/form-data">
    {{ image_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Wyślij"></p>
</form>
{% if previous_url %}
    <a href="{{ previous_url }}">Back</a>
{% else %}
    <a href="{% url 'dashboard' %}">Powrót strony głównej.</a>
{% endif %}
{% endblock %}