{% extends "base.html" %}

{% block title %}Profile edit{% endblock %}

{% block content %}
<div class="content-header">
    <h1>Profile edit</h1>
    <p>You can change your account settings using the form below:</p>
</div>
<section class="edit-section">
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <div class="form-actions">
            <input type="submit" value="Save changes" class="btn-primary">
            <a href="{% url 'user_detail' request.user.username %}" class="btn-primary back-btn">Return</a>
        </div>
    </form>
</section>
<a href="{% url 'dashboard' %}" class="btn-primary back-btn">Back to the home page</a>
{% endblock %}